<footer>
    <div class="row">
        <div class="col-lg-footer">
            <div class="logo-icon">
                <img src="img/acai-logo2.png" alt="Icone Acai Delivery">
            </div>
            <p> Sensação boa é comer o melhor açaí da cidade</p>
        </div>
        <div class="col-lg-footer">
            <h4 class="h-footer">Fale Conosco</h4>
            <div class="info">
                <p>
                    <a href="tel:+551133333333">(11) 3333-3333</a> <br>
                    <a href="tel:+5511933333333">(34) 9 3333-3333</a></p> <br>
                    <a href="mailto:sac@acaidelivery.com.br">sac@acaidelivery.com.br</a>
                <p>
                    AVENIDA PAULISTA, 4242 <br>
                    BAIRRO CONSOLAÇÃO <br>
                    SÃO PAULO- SP
                </p>
            </div>
        </div>
        <div class="col-lg-footer">
            <h4 class="h-footer">Institucional</h4>
            <div class="info">
                <p>
                    <a href="../index.ejs">Home</a> <br>
                    <a href="../sobre.ejs">Sobre</a></p> <br>
                    <a href="../contato.ejs">Contato</a>
            </div>
        </div>
        <div class="col-lg-footer">
            <h4 class="h-footer">O que Procura?</h4>
            <div class="info">
                <p>
                    <a href="#">Combos</a> <br>
                    <a href="#">Promoções</a></p> <br>
                    <a href="#">Monte Seu Açaí</a>
            </div>
        </div>
        <div class="col-lg-footer">
            <h4 class="h-footer">Onde nos Encontrar?</h4>

        </div>
    </div>
    <div class="py-1 bg-primary">
        <p class="m-0 text-center text-white">Copyright &copy; 2020 - Açaí Delivery</p> <br>
        <p class="m-0 text-center text-white">Todos os direitos reservados. Os preços, promoções, condições de pagamento, frete e produtos são válidos exclusivamente para compras realizadas via internet. Fotos meramente ilustrativas.</p> <br>
        <p class="m-0 text-center text-white">Açaí Delivery Ltda. Me CNPJ: 11.111.111/0001-11</p>
    </div>
</footer>
</body>

</html>