<footer>
  <div class="row px-2 mt-5 mb-2">
    <div class="col-12 col-md">
      <img src="img/logo.png" alt="">
      <small class="d-block mb-3">Sensação boa é comer o melhor açaí da cidade</small>
    </div>
    <div class="col-6 col-md">
      <h5>Fale Conosco</h5>
      <ul class="list-unstyled text-small">
        <li><img src="img/tel.svg" alt="" width="20"><a class="link-secondary" href="tel:+551133333333"> (11) 3333-3333</a></li>
        <li><img src="#" alt="" width="50"><a class="link-secondary" href="tel:+5511933333333"> (34) 9 3333-3333</a></li>
        <li><img src="img/mail.svg" alt="" width="20"><a class="link-secondary" href="mailto:sac@acaidelivery.com.br"> sac@acaidelivery.com.br</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Institucional</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="../index.ejs">Home</a></li>
        <li><a class="link-secondary" href="../sobre.ejs">Sobre</a></li>
        <li><a class="link-secondary" href="../contato.ejs">Contato</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>O que Procura?</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Combos</a></li>
        <li><a class="link-secondary" href="#">Promoções</a></li>
        <li><a class="link-secondary" href="#">Monte Seu Açaí</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Onde nos Encontrar?</h5>
      <ul class="list-unstyled text-small">
      </ul>
    </div>
  </div>
  <div class="py-4 bg-acai">
    <p class="m-0 text-center text-white">Copyright &copy; 2020 - Açaí Delivery</p> </br>
    <p class="m-0 text-center text-white">Todos os direitos reservados. Os preços, promoções, condições de pagamento,
      frete e produtos são válidos exclusivamente para compras realizadas via internet. Fotos meramente ilustrativas.
    </p> </br>
    <p class="m-0 text-center text-white">Açaí Delivery Ltda. Me CNPJ: 11.111.111/0001-11</p>
  </div>
</footer>

<script src="js/bootstrap.bundle.min.js"></script>

</body>

</html>