<!--  

<footer>
    <div class="mx-0-25 row">
        <div class="col-lg-footer">
            <div class="logo-icon">
                <img src="img/acai-logo2.png" alt="Icone Acai Delivery">
            </div>
            <p> Sensação boa é comer o melhor açaí da cidade</p>
        </div>
        <div class="col-lg-footer">
            <h4 class="h-footer">Fale Conosco</h4>
            <div class="info">
                <p>
                    <a href="tel:+551133333333">(11) 3333-3333</a>
                    <a href="tel:+5511933333333">(34) 9 3333-3333</a></p>
                    <a href="mailto:sac@acaidelivery.com.br">sac@acaidelivery.com.br</a>
            </div>
        </div>
        <div class="col-lg-footer">
            <h4 class="h-footer">Institucional</h4>
            <div class="info">
                <p>
                    <a href="../index.ejs">Home</a>
                    <a href="../sobre.ejs">Sobre</a></p>
                    <a href="../contato.ejs">Contato</a>
            </div>
        </div>
        <div class="col-lg-footer">
            <h4 class="h-footer">O que Procura?</h4>
            <div class="info">
                <p>
                    <a href="#">Combos</a>
                    <a href="#">Promoções</a></p>
                    <a href="#">Monte Seu Açaí</a>
            </div>
        </div>
        <div class="col-lg-footer">
            <h4 class="h-footer">Onde nos Encontrar?</h4>

        </div>
    </div>
    <div class="py-0-25 bg-primary">
        <p class="m-0 text-center text-white">Copyright &copy; 2020 - Açaí Delivery</p>
        <p class="m-0 text-center text-white">Todos os direitos reservados. Os preços, promoções, condições de pagamento, frete e produtos são válidos exclusivamente para compras realizadas via internet. Fotos meramente ilustrativas.</p>
        <p class="m-0 text-center text-white">Açaí Delivery Ltda. Me CNPJ: 11.111.111/0001-11</p>
    </div>
</footer>     -->

<footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <img src="img/logo.png" alt="">
        <small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Cool stuff</a></li>
          <li><a class="link-secondary" href="#">Random feature</a></li>
          <li><a class="link-secondary" href="#">Team feature</a></li>
          <li><a class="link-secondary" href="#">Stuff for developers</a></li>
          <li><a class="link-secondary" href="#">Another one</a></li>
          <li><a class="link-secondary" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Resource name</a></li>
          <li><a class="link-secondary" href="#">Resource</a></li>
          <li><a class="link-secondary" href="#">Another resource</a></li>
          <li><a class="link-secondary" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Business</a></li>
          <li><a class="link-secondary" href="#">Education</a></li>
          <li><a class="link-secondary" href="#">Government</a></li>
          <li><a class="link-secondary" href="#">Gaming</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Team</a></li>
          <li><a class="link-secondary" href="#">Locations</a></li>
          <li><a class="link-secondary" href="#">Privacy</a></li>
          <li><a class="link-secondary" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>

  <script src="js/bootstrap.bundle.min.js"></script>

</body>

</html>