<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Hugo 0.83.1">
        <title>Product example · Bootstrap v5.0</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/product/">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;800&display=swap" rel="stylesheet">
        <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
        <style>
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
          }
    
          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }
        </style>
    
        <!-- Custom styles for this template -->
        <link href="/public/css/product.css" rel="style">
      </head>



<!--   

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acai - <%= titulo %></title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <a class="logo" href="index.html"><img src="img/acai-logo.png" alt="Petshop DH"></a>
        <nav>
            <ul>
                <li><a href="/combos">Combo</a></li>
                <li><a href="/promocoes">Promoções</a></li>
                <li><a href="/monteseuacai">Monte Seu Açaí</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/fazerpedido">fazer pedido</a></li>

            </ul>
        </nav>
        </div>
    </header>   -->

   
    <header class="site-header sticky-top py-1">
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
          <a class="py-2" href="#" aria-label="Product">
            <img src="img/logo.png" alt="">
          </a>
          <a class="py-2 d-none d-md-inline-block wf-align-middle" href="#">Combos  </a>
          <a class="py-2 d-none d-md-inline-block wf-align-middle" href="#">Promoções</a>
          <a class="py-2 d-none d-md-inline-block wf-align-middle" href="#">Monte Seu Açaí</a>
          <a class="py-2 d-none d-md-inline-block wf-align-middle" href="#">Sobre</a>
          <a class="py-2 d-none d-md-inline-block wf-align-middle" href="#">Contato</a>
          <a class="py-2 d-none d-md-inline-block wf-align-middle-pedido" href="#">Fazer Pedido</a>
        </nav>
      
      </header> 