<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acai - <%= titulo %></title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <a class="logo" href="index.html"><img src="img/acai-logo.png" alt="Petshop DH"></a>
        <nav>
            <ul>
                <li><a href="/combos">Combo</a></li>
                <li><a href="/promocoes">Promoções</a></li>
                <li><a href="/monteseuacai">Monte Seu Açaí</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/fazerpedido">fazer pedido</a></li>

            </ul>
        </nav>
        </div>
    </header>