<%- include('./partials/header');%>


<main>
     <section class="banner">
         <div class="container">
             <p>Já Tomou SEU ACAÍ HOJE </p>
             <img src="img/Banner-07.png" alt="ilustração de pessoa passeando com o cachorro na praça">
         </div>
     </section>
     <section class="servicos">
         <div class="container">
             <h2>Nossos Combos</h2>
             <div class="items">
                 <article>
                     <div class="thumb"></div>
                     <h3>Combo Love</h3>
                     <h4>R$18,00</h4>
                 </article>
                 <article>
                     <div class="thumb"></div>
                     <h3>Combo Ninho</h3>
                     <h4>R$20,00</h4>
                 </article>
                 <article>
                     <div class="thumb"></div>
                     <h3>Combo Magnífico</h3>
                     <h4>R$23,00</h4>
                 </article>
             </div>
         </div>
     </section>
     <section class="sobre">
         <div class="container">
             <img src="img/Banner-24-2.png" alt="Ilustração de pessoa passeando com um cachorro na cidade">
             <div class="text">
                 <h3>HMMM… NESSE CALOR O QUE MAIS COMBINA?
                 </h3>
                 <p>Aproveite Nossos Combos Especiais . </p>
             </div>
         </div>
     </section>
 </main>

 <%- include('./partials/footer'); %>
